@import "./styles/doge-eyes.css";

body {
  padding: 10px;
  width: 360px;
  height: 600px;
  font-family: "comic-sans", "Lato", Arial, Helvetica, sans-serif;
  background-color: #fcfcfc;
  display: flex;
}

@font-face {
  font-family: "comic-sans";
  src: url("./fonts/comic-sans.woff");
}

.address {
  font-size: 14px;
}
#doge-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#doge {
  width: 300px;
}

#eyes-wrapper {
  position: absolute;
  top: 85px;
  width: 177px;
  left: 32px;
  transform: rotate(10deg);
}

#fox-mask {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 232px;
  transform: rotate(10deg);
}
